@{
    ViewData["Title"] = "Сatalog";
}
<h1>@ViewData["Title"]</h1>

<style>
    .card-img-top {
        width: 100%;
        height: 512px;
        object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>


<div class="card-group">
    <div class="card">
        <img src="https://watch.ua/images/detailed/51/1568129-p-4x.jpg" class="card-img-top" alt="DIESEL DZ1436">
        <div class="card-body">
            <h5 class="card-title">DIESEL DZ1436</h5>
            <p class="card-text">Виробник: Diesel;<br /> Гарантія: Офіційна гарантія 2 роки;<br /> Країна виробник: Італія;<br /> Колекція: Double Down;<br /> Тип: Чоловічі;<br /> Механізм: Кварцовий від батарейки; Скло: Мінеральне;<br /> Водозахист: 50 м - Душ, ванна;<br /> Ширина / діаметр, мм: 44;<br /> Ремінець/Браслет: Полімерний</p>
            <a href="https://watch.ua/cholovichiy-godinnik-diesel-dz1436.html" type="button" class="btn btn-outline-info justify-content-md-end">Детальніше...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://watch.ua/images/detailed/51/Diesel_DZ1437.jpg" class="card-img-top" alt="DIESEL DOUBLE DOWN DZ1437">
        <div class="card-body">
            <h5 class="card-title">DIESEL DOUBLE DOWN DZ1437</h5>
            <p class="card-text">
                Модель: DZ1437 <br />
                Стать: чоловічі <br />
                Гарантія: 24 м. <br />
                Бренд: Diesel <br />
                Колекція: Double Down <br />
                Версія: Fashion <br />
                Формат: часу 12 часовий <br />
            </p>
            <a href="https://watch.ua/cholovichiy-godinnik-diesel-dz1437.html" type="button" class="btn btn-outline-info">Детальніше...</a>
        </div>
    </div>
    <div class="card">
        <img src="https://watch.ua/images/detailed/54/DZ1819.jpg" class="card-img-top" alt="DIESEL DZ1819">
        <div class="card-body">
            <h5 class="card-title">DIESEL DZ1819</h5>
            <p class="card-text">Виробник: Diesel;<br /> Гарантія: Офіційна гарантія 2 роки;<br /> Країна виробник: Італія;<br /> Колекція: ARMBAR; Тип: Чоловічі;<br /> Механізм: Кварцовий від батарейки;<br /> Скло: Мінеральне;<br /> Водозахист: 100 м - Плавання, пірнання;<br /> Ширина / діаметр, мм: 45;<br /> Ремінець/Браслет: Полімерний</p>
            <a href="https://watch.ua/cholovichiy-godinnik-diesel-dz1819.html" type="button" class="btn btn-outline-info">Детальніше...</a>
        </div>
    </div>
</div>
